@import "./mod1.css";

.div2 {
  margin-top: 20px;
  height: 200px;
  background-color: red;
}

.emoji01 {
  width: 20px;
  height: 20px;
  background-color: blue;
  background-image: url('../../../assets/logo-20-20.png');
}

@value color03: #0c77f8;

.blue {
  color: color03;
}

@value colors: "./mods/theme.css";
@value color1, color2 from colors;

.c1 {
  color: color1;
}

.c2 {
  color: color2;
}

/* .ooo___3pF5_D .ppp .iii */
.ooo :global .ppp .iii {
  height: 200px;
}

/* .ooo___3pF5_D .ppp .iii___1kc0X0 */
.ooo :global .ppp :local .iii {
  height: 200px;
}

.aaaaa {
  color: green;
  background: red;
}

/*
keyword: composes
composes would not take the effects

.bbbbb___1cEOuO {
  color: yellow;
}
*/
.bbbbb {
  composes: aaaaa;
  color: yellow;
}
