@import "./mod1.css";

.div2 {
  margin-top: 20px;
  height: 200px;
  background-color: red;
}

.emoji01 {
  width: 20px;
  height: 20px;
  background-color: blue;
  background-image: url(/logo-20-20.png);
}

